section.location-map #map { 
    width: 100%;
    height: 600px;

    @media(max-width: 768px){
        height: 400px;
    }
}



div.location-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 208px;

    @media (max-width: 768px) {
        padding-left: 2rem;
    }
    @media (min-width: 768px) and (max-width: 1025px) {
        padding-left: 4rem;
    }
   
}

div.location-header .container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}   

section.location-map .location-header{
    height: 208px;
    background-image: url('/assets/location-header.png');

}

div.location-header img.pin-icon{
    height: 50px;
    margin-top: 5px;
}

div.location-header h1 {
    font-family: 'AmsiPro-BoldItalic';
    z-index: 2;
    color: white;
}